@model CustomerProcessViewModel

@{
    Layout = null;
}

<div class="container">
    <br />
    <form method="post">
        <!-- Your form inputs here -->

        <br />
        <br />
        <button class="btn btn-success">Para Çek</button>
        <br />
        <br />
    </form>

    
</div>



<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />