@model CQRSDesignPat.CQRSDesignPat.Result.GetProductUpdateResult
@{
    Layout = null;
}
<div class="container">
    <form method="post">
        <br />
        <label>Ürün ID</label><br />
        <input asp-for="ProductID" class="form-group" /><br />
        <label>Ürün Adı</label><br />
        <input asp-for="ProductName" class="form-group" /><br />
        <label>Ürün Stok</label><br />
        <input asp-for="Stock" class="form-group" /><br />
        <label>Ürün Fiyat</label><br />
        <input asp-for="Prica" class="form-group" /><br />
        <label>Ürün Açıklama</label><br />
        <input asp-for="ProductDescription" class="form-group" /><br />

        <button class="btn btn-success">Ürün Güncelle</button>
    </form>
</div>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />