@model EntitiyleLayer.Concrete.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<form method="post">
    <label>Category Name</label>
    <input  type="test" asp-for="CategoryName"/>
    <button type="submit">Kaydet</button>

</form>
