@model EntitiyleLayer.Concrete.Category

@{
    Layout = null;
}

<form method="post">
    <input type="hidden" asp-for="CategoryID"/>
    <label>Category Name</label>
    <input type="test" asp-for="CategoryName" />
    <button type="submit">Güncelle</button>

</form>
